body,html
{
    margin: 0;
	padding: 0;
}

.titulos
{
	font-size:13px;
	color: #999999
	width:30px;
}

.primeiro
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}

.segundo
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.terceiro
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.quarto
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.quinto
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.sexto
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.setimo
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.oitavo
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.nono
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.decimo
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.onze
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.doze
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.treze
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.catorze
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.quinze
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.dezesseis
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.dezessete
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.dezoito
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.dezenove
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}
.vinte
{
	font-size:14px;
	color: #666666;
	width:30px;
	float: center;
}